.verticalSection1{
  width: 20%;
}
.verticalSection2{
  width: 80%;
}
.game{
  display: flex;
}
.pallete{
  width: 26px;
  height: 16px;
}
.p1, .red{
  background: red;
  color: white;
}
.p2, .blue{
  background: blue;
  color: white;
}
.p3, .green{
  background: green;
}
.p4, .yellow{
  background: yellow;
}
.white{
  background: white;
}
.cell{
  width: 60px;
  height: 60px;
  border-color: white;
  margin: 3px;
}
@keyframes poppableShake {
  0%{
    transform: rotate(-15deg) scale(1);
  }
  25%{
    transform: rotate(0deg) scale(0.8);
  }
  50%{
    transform: rotate(10deg) scale(1);
  }
  75%{
    transform: rotate(0deg) scale(1.1);
  }
  100%{
    transform: rotate(-15deg) scale(1);
  }
}
.poppable{
  animation-name: poppableShake;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}