.verticalSection1{
  width: 20%;
}
.verticalSection2{
  width: 80%;
}
.game{
  display: flex;
}
.pallete{
  width: 26px;
  height: 16px;
}
.p1, .red{
  background: red;
}
.p2, .blue{
  background: blue;
  color: white;
}
.p3, .green{
  background: green;
}
.p4, .yellow{
  background: yellow;
}
.white{
  background: white;
}
.cell{
  width: 60px;
  height: 60px;
  border-color: var(--BOARD_BORDER_COLOR);
}