.verticalSection2{
  width: 20%;
}
.verticalSection1{
  width: 80%;
}
.game{
  display: flex;
  margin: 0px 20% 0px 20%;
}
.pallete{
  width: 26px;
  height: 16px;
}
.p1, .red{
  background: red;
  color: white;
}
.p2, .blue{
  background: blue;
  color: white;
}
.p3, .green{
  background: green;
  color: white;
}
.p4, .yellow{
  background: yellow;
}
.p5, .orange{
  background: orange;
}
/* "orange",
      "maroon",
      "aqua" */
.p6, .maroon{
  background: maroon;
  color: white;
}
.p7, .cadetblue{
  background: cadetblue;
}
.p8, .aqua{
  background: aqua;
}
.white{
  background: white;
}
.cell{
  width: 60px;
  height: 60px;
  border-color: white;
  margin: 3px;
}
@keyframes poppableShake {
  0%{
    transform: rotate(-15deg) scale(1);
  }
  25%{
    transform: rotate(0deg) scale(0.8);
  }
  50%{
    transform: rotate(10deg) scale(1);
  }
  75%{
    transform: rotate(0deg) scale(1.1);
  }
  100%{
    transform: rotate(-15deg) scale(1);
  }
}
.poppable{
  animation-name: poppableShake;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 480px) {
  .game{
    /* flex-direction: column; */
  }
}
@media only screen and (max-width: 1200px) {
  .game{
    flex-direction: column-reverse;
    margin: 0px;
  }
  .verticalSection1{
    width: 100%;
  }
  .verticalSection2{
    width: 100%;
    display: flex;
    place-content: center;
  }
  .final_winnerName{
    font-size: 100px;
  }
}
@media only screen and (max-width: 720px) {
  .cell{
    width: 40px;
    height: 40px;
  }
  .headsup{
    margin-right: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .cell{
    width: 30px;
    height: 30px;
  }
  .headsup{
    width: 100%;
  }
}